<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
		<meta charset="utf-8">

		<title>ChinaZ</title>
		<!-- ALL STYLESHEET -->
        <link th:href="@{/frontend/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/frontend/css/font-awesome.min.css}" rel="stylesheet">
		<link th:href="@{/frontend/css/style.css}" rel="stylesheet">
		<link th:href="@{/frontend/css/responsive.css}" rel="stylesheet">
    </head>
	<body>
		
		<!-- header -->
		<header class="header">
			<div th:replace="/component/customer/base/menu :: html"></div>
		</header>

		<!-- 面包屑导航 -->
		<section class="desktop-bar">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h3>Product Details <i class="fa fa-bars"></i></h3>
					</div>
					<div class="col-sm-8">
						<ol class="breadcrumb hidden-xs pull-right">
							<li><a href="#">Home</a></li>
							<li><a href="#">Shop</a></li>
							<li class="active"><a href="#">Product Details</a></li>
						</ol>
					</div>
				</div>
			</div>
		</section>

		<!--带图片的商品展示栏-->
		<section class="desk-com">
			<div class="container">
				<div class="row" style="position: relative;">
					<div class="col-sm-5">
						<img th:src="@{'/product/preview?productId='+${productInfo.id}}" class="img-rounded" width="100%" alt="">
					</div>
					<div class="col-sm-7" style=" position: absolute; right: 0;height: 100%">
							<p class="category">[[${productInfo.categoryDesc}]]</p>
							<h2>[[${productInfo.name}]]</h2>
							<ul class="list-inline rate-stock">
								<li class="stars"></li>
								<li>[[${productInfo.sold}]] 已售 </li>
								<li class="available">库存：[[${productInfo.stock}]]</li>
							</ul>
							<p>[[${productInfo.description}]]</p>
							<div class="currency">商品价格：$[[${productInfo.price}]]</div>
							<div class="add-cart" style="position:absolute;bottom:0px;"><a class="btn btn-default" herf="#">Add to Cart</a></div>
					</div>

				</div>
			</div>
		</section>

		<!--商品详情展示栏-->
		<section class="desk-com">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="description">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#description" aria-controls="home" role="tab" data-toggle="tab">商品详情</a></li>
								<li role="presentation"><a href="#specification" aria-controls="profile" role="tab" data-toggle="tab">商品规格</a></li>
								<!--<li role="presentation"><a href="#reviews" aria-controls="messages" role="tab" data-toggle="tab">Reviews(4)</a></li>-->
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="description">
								</div>

								<div role="tabpanel" class="tab-pane" id="specification">
								</div>
							</div>
							<nav>
								<ul class="pager">
									<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
									<li class="center-block"><a href="#"><i class="fa fa-th"></i></a></li>
									<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
								</ul>
							</nav>

						</div>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div th:replace="/component/customer/base/footer :: html"></div>
		</footer>

		<div th:replace="/component/customer/base/statisc :: html"></div>

		<script type="text/javascript">
            function HTMLDecode(text) {
                var temp = document.createElement("div");
                temp.innerHTML = text;
                var output = temp.innerText || temp.textContent;
                temp = null;
                return output;
            }

			$(function () {
				var stars = [[${productInfo.stars}]];
				var hollowStars = 5-stars;
				for(var i=0;i<stars;i++){
                	$('.stars').append('<i class="fa fa-star"></i>')
                }
                for(var i=0;i<hollowStars;i++){
                    $('.stars').append('<i class="fa fa-star-o"></i>')
                }

                var description = HTMLDecode('[[${productInfo.detailDesc}]]')
				$('#description').append(description)

                var specification = HTMLDecode('[[${productInfo.specificationTable}]]')
                $('#specification').append(specification)
            })
		</script>
    </body>
</html>